<!DOCTYPE html>
<html>
  <head>
    <title>BestBeverage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <div class="maindiv">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/public/welcome">BEST BEVERAGE</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/public/order">Place Your Order <span class="sr-only">(current)</span></a></li>
              <li><a href="/public/messagewaiter">Call Waiter</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin View <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/beers">Beers</a></li>
                  <li><a href="/wines">Wines</a></li>
                  <li><a href="/maindishes">Main Dishes</a></li>

                  <li role="separator" class="divider"></li>
                  <li><a href="/beerpairings">Beer Pairings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/winepairings">Wine Pairings</a></li>
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    <%= yield %>
    </div>
  </body>
</html>
